[user]
	name = Nicolás Pujia
	email = nicopujia.dev@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[alias]
    # Config
	cfg = config --global

	# Status
	st = status -s
	sts = status

	# Switch
	s = switch
	sc = switch -c
	sd = switch --detach
	cd = switch
	switch-grep = !sh -c 'git switch $(git branch --format \"%(refname:short)\" | grep $1)' -
	sg = !sh -c 'git switch $(git branch --format \"%(refname:short)\" | grep $1)' -

	# Branch
	b = branch
	bd = branch -d
	bD = branch -D

	# Commit
	c = commit
	cm = commit -m
	ca = commit --amend
	can = commit --amend --no-edit

    # Push
	p = push
	pf = push --force
	pn = push --no-verify
	pfn = push --force --no-verify
	pnf = pfn

	# Pull
	pl = pull
	plr = pull --rebase

	# Merge
	m = merge
	ma = merge --abort

	# Rebase
	rb = rebase
	rbi = rebase --interactive
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
	rbq = rebase --quit

	# Stash
	sh = stash
	shm = stash -m
	shp = stash pop
	shl = stash list
	shd = stash drop
	sha = stash apply
	shs = stash show
	shc = stash clear
	shu = stash --include-untracked
	shum = stash --include-untracked --message

	# Log
    l = log --oneline
	lg = log --oneline --graph --all --decorate
	l1 = l -1
	l2 = l -2
	l3 = l -3
	l4 = l -4
	l5 = l -5
	l10 = l -10

	# Add
	a = add
	aa = add --all

	# Reset
	rt = reset
	rth = reset --hard
	rts = reset --soft
	rt1 = reset HEAD~1
	rts1 = reset --soft HEAD~1
	undo = rts1
	rth1 = reset --hard HEAD~1

	# Misc
	f = fetch
	d = diff
	t = tag
	r = restore
	cp = cherry-pick
	rv = revert
	wt = worktree
	co = checkout

    # Combinations
    fix = !git can && git pf

	clear-changes = !sh -c 'git restore \"$1\" && git clean -fd \"$1\"' -
	cc = clear-changes

	cmp = !sh -c 'git cm \"$1\" && git p' -
	cmpprcf = !sh -c 'git cmp \"$1\" && gh prcf' -

	ac = !git aa && git c
	acm = !git aa && git cm
	acmp = !sh -c 'git aa && git cm \"$1\" && git p' -
	acmpprcf = !git aa && git cmpprcf
	aca = !git aa && git ca
	acan = !git aa && git can
	afix = !git aa && git fix

	# Create a branch, commit and push changes, create and squash-merge a PR, then return and delete the local and remote branch
	ship = "!f() { branch=\"$1\"; commit=\"${2:-$branch}\"; initial_branch=$(git branch --show-current); if [ -z \"$branch\" ]; then echo 'usage: git ship <branch> [commit message]' >&2; return 2; fi; git sc \"$branch\" && git acmp \"$commit\" && gh prcf && gh pr merge --squash && git s \"$initial_branch\" && git bd \"$branch\" && git push origin --delete \"$branch\"; }; f"
[core]
	editor = vim
[color]
	ui = auto
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
